<h1>Sign Up now</h1>
<form action="/user/userCreated" method="POST">
    <input type="text" name="name" placeholder="enter your name" required><br>
    <input type="email" name="email" placeholder="enter your email" required><br>
    <input type="password" name="password" placeholder="create password" required><br>
    <input type="password" name="confirm_password" placeholder="confirm password" required><br>
    <input type="submit" value="SignUp">
</form>