<h1>this is sign in page</h1>
<form action="/user/userSignedIn" method="post">
    <input type="email" name="email" placeholder="enter your user_id" required >
    <input type="password" name="password" placeholder="enter password" required>
    <input type="submit" value="sign in">


</form>